tags
nbproject/private
doc/api
tests/out
sites/*
!sites/readme.txt
*.phprj
*.phptags
*.phpwsp
*.kdev4
.kdev4
hhvm/error.log
hhvm/hhvm.hhbc
hhvm/server.pid
sqlite.errors
Jaris.workspace
index.php.combined
jariscms.php.tags
cachegrind.out
