#control-menu
{
    position: fixed;
    background-color: #E9F2F5;
    border: solid 1px #d3d3d3;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000
}

#control-menu *
{
    font-size: 13px;
    font-weight: bold;
}

#control-menu .user
{
    display: block;
    margin: 0 8px 0 0;
    padding: 8px;
    background-color: #235c96;
    color: #fff;
}

#control-menu .right
{
    display: flex;
    justify-content: flex-end;
}

#control-menu .right a
{
    width: 20px;
    height: 18px;
    display: block;
    padding: 8px;
}

#control-menu .right a:hover
{
    background-color: #D5E7ED;
}

#control-menu .about
{
    background: transparent url(about.png) no-repeat center center;
}

#control-menu .help
{
    background: transparent url(help.png) no-repeat center center;
}

#control-menu .logout
{
    background: transparent url(logout.png) no-repeat center center;
}

#control-menu ul
{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#control-menu ul li
{
    display: block;
    list-style: none;
    margin: 0;
    position: relative;
}

#control-menu ul li a
{
    display: block;
    padding: 8px;
    cursor: pointer;
    color: #00576d;
    text-decoration: none;
}

#control-menu ul li a:hover
{
    background-color: #D5E7ED;
}

#control-menu ul li ul
{
    position: absolute;
    left: 0;
    bottom: 32px;
    display: none;
    background-color: #E9F2F5;
    padding: 5px;
    width: 200px;

    border-top: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
    border-right: solid 1px #d3d3d3;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#control-menu ul li ul li
{
    display: block;
    margin: 0;
    padding: 0;
}

#control-menu ul li ul li a
{
    display: block;
    border-bottom: dotted 1px #d3d3d3;
    color: #00576d;
    text-decoration: none;
}

#control-menu ul li ul li a:hover
{
    background-color: #df7500;
    color: #fff;
}

#control-menu .view
{
    display: none;
}

#control-menu .view a
{
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 5px 8px 5px 8px;
    background: transparent url(options.png) no-repeat center center;
}

#control-menu-mobile
{
    display: none;
    position: fixed;
    background-color: #E9F2F5;
    z-index: 100000;
    overflow: scroll;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.9;
}

#control-menu-mobile a
{
    color: #00576d;
}

#control-menu-mobile .close
{
    text-align: right;
}

#control-menu-mobile .close a
{
    font-weight: bold;
    display: inline-block;
    padding: 10px 10px 0 10px;
    font-size: 24px;
    cursor: pointer;
}

#control-menu-mobile ul
{
    margin: 0;
    padding: 0;
}

#control-menu-mobile ul li
{
    list-style: none;
}

#control-menu-mobile > ul > li
{
    margin-bottom: 15px;
}

#control-menu-mobile > ul > li > a
{
    font-size: 24px;
    margin-bottom: 10px;
}

#control-menu-mobile ul li a
{
    display: block;
}

#control-menu-mobile ul ul li a
{
    padding-left: 20px;
    display: block;
    padding: 7px;
    border-bottom: dotted 1px #d3d3d3;
}

#control-menu-mobile ul ul li a:hover
{
    background-color: #df7500;
    color: #fff;
}

@media all and (max-width: 800px)
{
    #control-menu ul
    {
        display: none;
    }
    
    #control-menu .view
    {
        display: block;
        flex-grow: 1;
        text-align: left;
    }
}